<html lang="ru">
<head>
    <meta charset="utf-8" />
	<title>{{ .title }}</title>
	
	<style type="text/css">
		TD {
    		font-size: 16px;
    		font-weight: bolder;
    		cursor: pointer;
  		}
  		.blue {
    		background-color:blue;
  		}
  		.highlight {
    		background: yellow;
  		}
	</style>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>
<body>

<table cellspacing="0" cellpadding="4" border="1">
  <tr>
    <td class="blue">Нажми1</td>
    <td class="blue">Нажми2</td>
    <td class="blue">Нажми3</td>
    <td class="blue" type="submit">Нажми4</td>
  </tr>
</table>

<script type="text/javascript">
    $( "td" ).click(function() {
        $( this ).toggleClass( "highlight" );
            $.get( "ping" );
    });
x
</script>
<form action="/changetocolor/" method="GET">
   <input type="submit" value="Go away..." />&nbsp;
</form>

</body>
</html>